<h1 class="page-header">Login</h1>
<%= form_for :user, url: '/login' do |f| %>

  <% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>


  <span class="form-label small-uppercase"><%= f.label :username  %></span>
  <%= f.text_field :username %>
  <br>
  <span class="form-label small-uppercase">
  <%= f.label :password %></span>
  <%= f.password_field :password %>
  <br>
  <%= f.submit :login  %>
<% end %>