<%= form_for @user do |f| %>

  <% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>


  <span class="form-label small-uppercase"><%= f.label :username  %></span>
  <%= f.text_field :username %>
  <br>
  <span class="form-label small-uppercase"><%= f.label :password %></span>
  <%= f.password_field :password %>
  <br>
  <%= f.submit  %>
<% end %>