<h1>Films</h1>

<% @films.each do |film| %>
	<div class="film-container">
		<div class="film-data">
			<p><%= film.title %></p>
			<p><strong>Year: </strong><%= @film.year %></p>
			<p><strong>Directed by:</strong> <%= @film.director %></p>
			<p><strong>Runtime:</strong> <%= @film.runtime %></p>
			<p><strong>Description:</strong> <%= @film.description %></p>
		</div>
		<div class="film-nav">
			<p><%= link_to 'Show', film_path(film) %></p>
		</div>
	</div>
<% end %>