<h1 class="movie-title"><%= @film.title %>
		<span style="font-size: 0.5em;">(<%= @film.average_rating %> stars, <%= @film.reviews.count %> reviews)</span>
</h1>

<div class="film-rating">
	<span class="star" id="film-rating-1">☆</span><span class="star" id="film-rating-2">☆</span><span class="star" id="film-rating-3">☆</span><span class="star" id="film-rating-4">☆</span>
</div>
<br>

<div class="film-data">
	<p>Directed by <%= @film.director %>, <%= @film.year %>. <%= @film.runtime %></></p>
	<p>Synopsis: <%= @film.description %></p>
</div>

<div class="reviews-container" style="border: 2px solid #eeeeee;">
	<h2>Summary</h2>
	<div class="review-summary">
	<!--
	====== Display film average rating and review count ================
	 -->
		  <p classname="rating"><%= @film.average_rating %></p>
			<p><%= @film.reviews.count %> reviews</p>
	<!--
	====== Display review form if user is signed in ====================
	====== Else, invite user to sign in or sign up to do so ============
	 -->
		<% if session[:user_id] %>
			<%= render 'reviews/form' %>
      <!-- Comment on the film -->
      <%= render 'comments/film_form', film: @film %>
    <% else %>
      <p>Want to write a review?
         <%= link_to 'Sign in', login_path %> or
         <%= link_to 'Sign up', new_user_path %>!
      </p>
    <% end %>
  </div>

  <div class="review-container" style="background-color: #eeeeee;">
    <h3>Reviews</h3>
    <%= render @film.reviews %>


    <!-- Need to display the form to add comment on review -->
    <!-- edit and delete comment on review-->

<!-- Comments on the Movie -->
    <h3>Comments on the Movie</h3>
    <% @film.comments.each do |comment|%>
      <p><%= comment.content %></p>
    <% end %>
  </div>

</div>

