<h1 class="movie-title"><%= @film.title %>
		<span style="font-size: 0.5em;">(<%= @film.average_rating %> stars, <%= @film.ratings.count %> ratings)</span>
</h1>

<% if session[:user_id] && @film.already_rated(session[:user_id]) %>
	<div class="film-rating">
		<% @film.current_user_rating(session[:user_id]).times do %>
			<span class="star-static">★</span>
		<% end %>
		<% (4 - @film.current_user_rating(session[:user_id])).times do %>
			<span class="star-static">☆</span>
		<% end %>
	</div>
	<br>
<% elsif session[:user_id] %>
	<div class="film-rating">
		<span class="film-star" id="film-rating-1">☆</span><span class="film-star" id="film-rating-2">☆</span><span class="film-star" id="film-rating-3">☆</span><span class="film-star" id="film-rating-4">☆</span>
	</div>
	<br>
<% end %>

<div class="film-data">
	<p>Directed by <%= @film.director %>, <%= @film.year %>. <%= @film.runtime %></></p>
	<p>Synopsis: <%= @film.description %></p>
</div>

<div class="reviews-container" style="border: 2px solid #eeeeee;">
	<h2>Summary</h2>
	<div class="review-summary">
	<!--
	====== Display film average rating and review count ================
	 -->
		  <p classname="rating"><%= @film.average_rating %></p>
			<p><%= @film.reviews.count %> reviews</p>
	<!--
	====== Display review form if user is signed in ====================
	====== Else, invite user to sign in or sign up to do so ============
	 -->
		<% if session[:user_id] %>
			<%= render 'reviews/form' %>
      <!-- Comment on the film -->
      <%= render 'comments/film_form', film: @film %>
    <% else %>

      <p>Want to write a review?
         <%= link_to 'Sign in', login_path %> or
         <%= link_to 'Sign up', new_user_path %>!
      </p>
    <% end %>
  </div>

  <div class="review-container" style="background-color: #eeeeee;">
    <h3>Reviews</h3>
    <%= render @film.reviews %>

<!-- Comments on the Movie -->
    <h3>Comments on the Movie</h3>
    <% @film.comments.each do |comment|%>
      <p><%= comment.content %></p>
      <%  if session[:user_id] == comment.commenter_id %>
      <button><%= link_to "Delete Comment", method: :delete, data: {confirm: "Are you sure you want to delete this comment?"} %></button>
      <% end %>
    <% end %>

  </div>

</div>
	<div class="review-container" style="background-color: #eeeeee;">
		<h3>Reviews</h3>
		<%= render @film.reviews %>
	  <% @film.comments.each do |comment|%>
	    <p><%= comment.content %></p>
	  <% end %>
	</div>
</div>
