<h1><%= @film.title %>
		<span style="font-size: 0.5em;">(<%= @film.average_rating %> / 4 reels and
		<%= @film.reviews.count %> reviews)</span>
</h1>

<div class="film-data">
	<p><strong>Year: </strong><%= @film.year %></p>
	<p><strong>Directed by:</strong> <%= @film.director %></p>
	<p><strong>Runtime:</strong> <%= @film.runtime %></p>
	<p><strong>Description:</strong> <%= @film.description %></p>
</div>

<div class="reviews-container" style="border: 2px solid #eeeeee;">
	<h2>Summary</h2>
	<div class="review-summary">
	<!--
	====== Display film average rating and review count ================
	 -->
		  <p classname="rating"><%= @film.average_rating %></p>
			<p><%= @film.reviews.count %> reviews</p>
	<!--
	====== Display review form if user is signed in ====================
	====== Else, invite user to sign in or sign up to do so ============
	 -->
		<% if session[:user_id] %>
			<%= render 'reviews/form' %>
		<% else %>
			<p>Want to write a review?
				 <%= link_to 'Sign in', login_path %> or
				 <%= link_to 'Sign up', new_user_path %>!
			</p>
		<% end %>
	</div>

	<div class="review-container" style="background-color: #eeeeee;">
		<h3>Reviews</h3>
		<%= render @film.reviews %>
	  <% @film.comments.each do |comment|%>
	    <p><%= comment.content %></p>
	  <% end %>
	</div>
</div>
  <%= render 'comments/form'%>


