<% if review.id %>
	<div class="review" style="border: 1px solid #444;">
		<p><%= review.title %></p>
		<p><%= review.average_rating %></p>
		<p><%= review.content %></p>
		<p> - <%= review.reviewer.username %> on <%= review.created_at.strftime('%d %b. %Y') %></p>
	</div>

  <!-- itr collection to diplay the comments -->
  <% review.comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p><%= comment.commenter.username %></p>
  <% end %>
  <h3>Leave a comment on this review</h3>
  <%= render 'comments/review_form', film: review.film, review: review %>
  <% end %>
