<!DOCTYPE html>
<html>
<head>
  <title>Wintergarten</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <nav>
    <div class="nav-transparent nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if session[:user_id] != nil %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Profile', user_path(session[:user_id]) %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure you want to logout?'} %></li>
        <% else %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Register', new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
