<!DOCTYPE html>
<html>
<head>
  <title>Wintergarten</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
     <% if session[:user_id] != nil %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Profile', user_path(session[:user_id]) %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure you want to logout?'} %></li>
      <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Register', new_user_path %></li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
